[flake8]
show-source=true
statistics=true
max-line-length = 108
per-file-ignores =
    backend/app.py: F401,



exclude =
  .git,
  **/data/**

ignore =
  # E203 white space before ":"
  E203,
  # W503 line break before binary operator
  W503,
  # E226 missing whitespace around arithmetic operator
  E226,
  # W291 trailing whitespace
  W291
