aiofiles==0.6.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cryptography==3.3.1
DBUtils==2.0
h11==0.9.0
httpcore==0.11.1
httptools==0.1.1
httpx==0.15.4
idna==2.10
jmespath==0.10.0
multidict==5.0.0
pycparser==2.20
pycryptodome==3.9.9
PyJWT==1.6.4
pymediainfo==5.0.3
PyMySQL==0.10.1
requests==2.25.1
rfc3986==1.4.0
sanic==20.9.1
sanic-jwt==1.5.0
sanic-openapi==0.6.2
six==1.15.0
sniffio==1.2.0
ujson==4.0.1
urllib3==1.26.2
uvloop==0.14.0
watchdog==1.0.1
websockets==8.1
